::-webkit-scrollbar{
    display: none;
}

*{
    font-family: "Poppins", sans-serif;

}
body{
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(180deg, #f1f2f4,  #e5e9ea);
    overflow-x: hidden;
}

img{
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 30vw;
}